@{
    ViewBag.Title = "About Us";
    ViewBag.Message = "Who Are We?";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<p>We are a group of students at Oakland University majoring in Computer Science, Information Technology and Computer Engineering. This website is for a software engineering project that we are all collaborating on.</p>
<p>We wanted to make a website that would have practical applications in the real world, so we came up with Selecct as a platform for creating polls for educational purposes. </p>
<p>@Html.ActionLink("Return to Home", "Index", "Home", new { Area = "" }, new { @class = "btn btn-primary" })</p>
