@{
    ViewBag.Title = "About Us";
    ViewBag.Message = "Who Are We?";
}

<h3 class="Result-header ">@ViewBag.Message</h3>

<p class ="p">We are a group of students at Oakland University majoring in Computer Science, Information Technology and Computer Engineering. This website is for a software engineering project that we are all collaborating on.</p>
<p class ="p">We wanted to make a website that would have a practical applications in the real world, so we came up with Selecct as a voting platform. </p>

<h4 class="Result-header ">What is Selectt?</h4>
<p class ="p"> Selectt is a voting application that functions similarly to StrawPoll. But it is a little unique in that it ensures a single vote is carried out per individual who uses it.</p>

<h4 class="Result-header text-left">How did we do it?</h4>
<p class ="p"> we accomplished this by using e-mail links in order to allow users to send out invites to participants who wish to participate in a poll. Our algorithm then ensures that if you receive an e-mail you are guaranteed a single vote. No cheesing the system here! Your votes are then displayed using the Chart.JS framework and you can view it at your leisure.</p>
<h4 class="Result-header ">Why did we do it?</h4>
<blockquote class="unique-blockquote"><p class="p"> This project was a class requirement of ours, so we decided to have some fun with it. In light of the recent political climate we felt there was a need to create something that could unite us in the most old fashioned form of democracy, Voting!</p><span> - Selecct Team</span></blockquote>
<h4 class="Result-header ">What technologies did you use to accomplish this?</h4>
<ul>
    <li class="About-list-Item">C#</li>
    <li class="About-list-Item">ASP.NET Framework</li>
    <li class="About-list-Item">HTML/CSS</li>
    <li class="About-list-Item">BootStrap</li>
    <li class="About-list-Item">Javascript</li>
    <li class="About-list-Item">Charts.js</li>
    <li class="About-list-Item">Coffee</li>
    <li class="About-list-Item">Energy Drinks</li>
</ul>

<h4 class="Result-header ">How do I create an account?</h4>
<h4 class="Result-header ">How do I log in?</h4>
<h4 class="Result-header ">How do I make a poll?</h4>
<h4 class="Result-header ">Who can view my poll?</h4>
<h4 class="Result-header ">What can I do after I make a poll?</h4>
<h4 class="Result-header ">Can I view your source code?</h4>
<h4 class="Result-header ">Who can view my poll?</h4>

<a href="@Url.Action("Index", "Home")" class="universal-button"><i class="fa fa-home fa-lg" aria-hidden="true"></i>  Return to Home</a>





<style>

    .fa{
        vertical-align: middle;
        font-size: 20px;
    }

    .p {
        font-family: 'Roboto Slab', serif;
        font-size: 17px;
    }

    .Result-header {
        font-size: 40px;
        font-family: 'Anton', sans-serif;
        margin-top: 30px;

    }

    .About-list-Item{
        font-family: 'Roboto Slab', serif;
    }



    .universal-button {
        display: inline-block;
        padding: 0.46rem 1.6em;
        margin: 0 0.2em 0.2em 0;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none !important;
        font-weight: 300 !important;
        color: #000000 !important;
        text-shadow: 0 0 0.04em 0.04em rgba(0,0,0,0.35);
        background-color: #f4511e;
        text-align: center;
        transition: all 0.15s;
        font-family: 'Anton', sans-serif;
        width: 200px;
    }

        .universal-button:hover {
            text-shadow: 0 0 2em rgba(255,255,255,1);
            color: #FFFFFF !important;
            border-color: #FFFFFF;
            transition: all 0.3s ease 0s;
            text-decoration: none !important;
            border-radius: 50px;
        }


    .unique-blockquote {
        font-size: 1.4em;
        width: 60%;
        margin: 50px auto;
        font-family: Open Sans;
        font-style: italic;
        color: #555555;
        padding: 1.2em 30px 1.2em 75px;
        border-left: 8px solid #f4511e;
        line-height: 1.6;
        position: relative;
        background: #EDEDED;
    }

        .unique-blockquote:before {
            font-family: Arial;
            content: "\201C";
            color: #f4511e;
            font-size: 4em;
            position: absolute;
            left: 10px;
            top: -10px;
        }

        .unique-blockquote:after {
            content: '';
        }

        .unique-blockquote span {
            display: block;
            color: #333333;
            font-style: normal;
            font-weight: bold;
            margin-top: 1em;
        }






</style>