@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Selectt!</h1>
    <p class="lead">With Selectt, you can create your own polls. </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        <h2>Getting Started</h2>
        <p>To get started, click on the "Register" button in the top right corner of the page. If you already have an account, you can click "Log In" instead.</p>
        <p>@Html.ActionLink("Register", "Register", "Account", new { Area = "" }, new { @class = "btn btn-primary" })&nbsp;@Html.ActionLink("Log in", "Login", "Account", new { Area = "" }, new { @class = "btn btn-primary" })</p>
       

        <p>To get started, click on the "Register" button in the top right corner of the page. If you already have an account, you can click "Log In" instead.</p>
        <p>@Html.ActionLink("Register", "Register", "Account", new { Area = "" }, new { @class = "btn btn-primary" })&nbsp;@Html.ActionLink("Log in", "Login", "Account", new { Area = "" }, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Create a Poll</h2>
        <p>Click the button below to create your own poll!</p>
        <br /><br />
              <p>@Html.ActionLink("Make a Poll", "Create", "Polls", new { Area = "" }, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>If you would like to learn more about who we are, you can click on the button below.</p>
        <br />
        <p>@Html.ActionLink("About", "About", "Home", new { Area = "" }, new { @class = "btn btn-primary" })</p>
    </div>
</div>