@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="Result-header">Welcome to Selectt!</h1>
    <p class="lead">With Selectt, you can create your own polls. </p>

</div>
<div class="container text-center">
    <div class="row text-center">
        <div class="">
            <h2 class="dt-header3">Getting started</h2>
            <p class="table-header-polls3">To get started, click on the "Register" button. If you already have an account, you can click "Log In" instead. Be sure to read the about page when you get a chance, and learn some fun things about Selectt!</p>
            <p>@Html.ActionLink("Register An Account", "Register", "Account", new { Area = "" }, new { @class = "universal-button" })&nbsp;@Html.ActionLink("Log Into Selectt", "Login", "Account", new { Area = "" }, new { @class = "universal-button" })</p>

        </div>
    </div>
</div>


@section styles{
    <style>


        .universal-button {
            color: #f4511e !important;
            background: #f7f7f7;
            padding: 4px;
            border: 2px solid #f4511e !important;
            border-radius: 6px;
            display: inline-block;
            transition: all 0.3s ease 0s;
            font-family: 'Anton', sans-serif;
            text-decoration: none;
            font-size: 20px;
        }

            .universal-button:hover {
                color: #494949 !important;
                border-radius: 50px;
                border-color: #494949 !important;
                transition: all 0.3s ease 0s;
                text-decoration: none;
            }
    </style>

}