@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron text-center">
    <h1 class="Result-header">Welcome to <i>Selectt</i> !</h1>
    <p class="lead">With <i>Selectt</i>, you can create your anonymous own polls.</p>
</div>

<div class="container text-center">
    <div class="row text-center">
        <div class="">
            <p class="table-header-polls3">
                To get started, create an account. If you already have an account, just log in instead.
                Be sure to read the about page when you get a chance to learn some fun facts about <i>Selectt</i> !
            </p>
            <p>
                @Html.ActionLink("Create an account", "Register", "Account", new { Area = "" }, new { @class = "universal-button" })
                @Html.ActionLink("Log Into Selectt", "Login", "Account", new { Area = "" }, new { @class = "universal-button" })
            </p>
        </div>
    </div>
</div>

@section styles{
    <style>
        .universal-button {
            color: #f4511e !important;
            background: #f7f7f7;
            padding: 4px;
            border: 2px solid #f4511e !important;
            border-radius: 6px;
            display: inline-block;
            transition: all 0.3s ease 0s;
            font-family: 'Anton', sans-serif;
            text-decoration: none;
            font-size: 20px;
        }

            .universal-button:hover {
                color: #494949 !important;
                border-radius: 50px;
                border-color: #494949 !important;
                transition: all 0.3s ease 0s;
                text-decoration: none;
            }
    </style>
}