@model Selectt.Entities.Poll

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<table class="table">
    <tr>
        <th>Answer</th>
        <th>Votes</th>
    </tr>
    @foreach (var answer in Model.Answers)
    {
        <tr>
            <td>@answer.PollAnswer</td>
            <td>@answer.Responses.Count</td>
        </tr>
    }
</table>