@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link", title = "Manage" })
            </li>
            <li>
                <!--Log Out Button-->
                <button type="button" class="btn btn-primary btn-sm" onclick="javascript:document.getElementById('logoutForm').submit()">
                    <span>
                        <i class="fa fa-sign-in" aria-hidden="true">
                        </i> Log Off
                    </span>
                </button>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item2">@Html.ActionLink("Register", "Register", "Account", new { Area = "" }, new { @class = "nav-link" })</li>
        <li class="nav-item2">@Html.ActionLink("Log in", "Login", "Account", new { Area = "" }, new { @class = "nav-link" })</li>
    </ul>
}